<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @knowledgebase.name %>
</p>

<%= link_to 'Edit', edit_knowledgebase_path(@knowledgebase) %> |
<%= link_to 'Back', knowledgebases_path %>
